/* src/app/globals.css */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", 
                 "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", 
                 sans-serif;
    margin: 0;
    padding: 0;
    color: #333; /* 文字色 */
    line-height: 1.5;
}
body[data-emotion] {
    visibility: visible !important;
}
html {
  overflow-x: hidden; 
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
figcaption {
    color: #6c757d; 
    font-size: 0.5em; 
    text-align: center; 
    margin-top: 0px; 
}